/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
    background: linear-gradient(135deg, #0b0f2b, #1e3a8a);
    color: #d1d5db;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: 97px;
}
/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* med */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Components */
.main-heading {
    text-align: center;
}
.main-heading h2 {
    font-weight: normal;
    position: relative;
    margin-bottom: 70px;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}
@media (max-width: 767px) {
    .main-heading h2 {
        font-size: 35px;
    }
}
.main-heading p {
    width: 500px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #d9eef5;
}
.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateZ(0);
    width: 60%;
    max-width: 300px;
    height: 2px; /* Thicker line */
    min-height: 1px; /* Fallback */
    background: none;
    border-top: 2px solid;
    border-image: linear-gradient(to right, transparent, #fff, transparent) 1;
    padding: 16px;
    z-index: -1;
}

.main-heading h2::after {
        content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateZ(0);
    width: 60%;
    max-width: 300px;
    height: 2px; /* Thicker line */
    min-height: 1px; /* Fallback */
    background: none;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, transparent, #fff, transparent) 1;
    padding: 16px;
    z-index: -1;
}

.main-heading h2::before {
    top: -18px;
}

.main-heading h2::after {
bottom: -18px;
}

@media (max-width: 991px) {
    .main-heading p {
    margin: 10px auto 60px;
    }
}
@media (max-width: 767px) {
    .main-heading p {
    font-size: 18px;
    padding: 0 15px 60px;
    }
}
/* End Components
/* Start Header  */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff00;
    z-index: 9;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px 100px 100px 100px;
        background: rgb(45 65 90 / 70%);
        backdrop-filter: blur(10px);
        margin-top: 10px;
        height: 80px;
}
.header .container .logo .img-logo{
    width: 100px;
    margin: 5px; 
}
    .header .container .nav-links i {
        color: white;
    font-size: 25px;
}
@media (min-width: 767px) {
    .header .container .nav-links i {
        display: none;
    }
}
.header .container .nav-links a {
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    color: white;
    margin-left: 11.5px;
    transition: 0.3s;
}
.header .container .nav-links .links a:last-child {
    margin-right: 60px;
}
.header .container .nav-links .links a:hover {
    text-shadow: 0 0 15px white;
}
.nav__toggle {
    position: relative;
    width: 80px;
    height: 32px;
    margin: auto;
    display: none;
}
.nav__burger, 
.nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}
.nav__close {
    opacity: 0;
    z-index: 1000;
}
@media (max-width: 767px) {
    .header .container .nav-links .links {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 70%;
        background: radial-gradient(circle at center, #054ca4, #0048a1, #2d415a);
        padding: min(30vh, 145px) 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: -10px;
        transform: translateX(100%);
        transition: transform 0.4s ease, opacity 0.3s ease;
        opacity: 0;
        pointer-events: none;
        z-index: 1000;
    }
    .header .container .nav-links .links a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        text-align: center;
        margin: 0 auto;
    }
    .header .container .nav-links .links a:last-child {
        margin-right: auto;
    }
    .show-menu {
        transform: translateX(0%) !important;
        opacity: 1 !important;
        pointer-events: auto !important;
    }
    .nav__toggle {
        position: relative;
        width: 80px;
        height: 32px;
        margin: auto;
        display: block;
    }
    .nav__burger,
    .nav__close {
        position: absolute;
        inset: 0;
        margin: auto;
        font-size: 30px;
        color: white;
        cursor: pointer;
        transition: opacity 0.3s, transform 0.4s;
    }
    .nav__close {
    opacity: 0;
    pointer-events: none;
    }
    .show-icon .nav__burger {
    opacity: 0;
    pointer-events: none;
    transform: rotate(90deg);
    }
.show-icon .nav__close {
        opacity: 1;
        pointer-events: auto;
        transform: rotate(0deg);
        z-index: 1001;
    }
}
body.menu-open {
    overflow: hidden;
}
/* End Header */
/* Start Landing Page */
.landing {
    position: relative;
    padding-top: 100px;
}
@media (max-width: 992px) {
    .landing {
        padding-top: 200px;
    }
}
.landing .container {
    min-height: calc(100vh - 200px);
    display: flex;
    align-items: center;
}
.landing .text {
    flex: 1;
}
@media (max-width: 991px) {
    .landing .container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }
    .landing .text {
    text-align: center;
    flex: 0;
    }
}
.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -1px;
    color: white;
}
@media (max-width: 767px) {
    .landing .text h1 {
    font-size: 28px;
    margin-bottom: 30px;
    }
}
.landing .text p {
    font-size: 22px;
    line-height: 1.7;
    margin: 12px 0 0;
    color: #ffffffb6;
    max-width: 500px;
    text-transform: capitalize;
}
@media (max-width: 991px) {
    .landing .text p {
    margin: 10px auto;
    }
}
@media (max-width: 767px) {
    .landing .text p {
    font-size: 16px;
    padding: 0 31px 60px;
    }
}
.landing .image img {
    position: relative;
    box-shadow: 0 0 13px #ffffffad;
    width: 385px;
    max-width: 90%;
    border-radius: 14px;
}
@media (max-width: 991px) {
    .landing .image {
    position: relative;
    width: 600px;
    max-width: 100%;
    display: block;
    margin-top: 20px;
    }
    .landing .image img {
        width: 70%;
        height: auto;
    }
}
.landing-page {
    position: absolute;
    bottom: 115px;
    width: 100%;
    background: radial-gradient(circle at center, #00caff, #0065f8, #4300ff);
    clip-path: unset;
    z-index: -1;
    opacity: 0.9;
    height: 40vh;
    filter: blur(80px);
    opacity: 0.7;
}
/* End Landing */
/* Start Works */
.works {
    padding-top: 160px;
    padding-bottom: 100px;
    position: relative;
}
.works .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.works .container .card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(255, 252, 252, 40%);
    background: #2d415a;
    transition: transform 0.3s ease;
}
.works .container .card:hover {
    transform: translateY(-5px);
} 
.works .container .card .image-container {
    padding: 12px;
}
.works .container .card .card-image {
    width: 100%;
    height: 230px;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}
.works .container .card .card-content {
    padding: 0 16px 16px;
    text-align: center;
}
.works .container .card .card-heading {
    margin: 0;
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 10px;
}
@media (max-width: 992px) {
    .works .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .works .container .card:last-child {
        width: 343.56px;
        grid-column: span 2;
        justify-self: center;
    }
}
@media (max-width: 767px) {
    .works .container {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .works .container .card {
        width: 310px;
        justify-self: center;
        box-shadow: 0 0 15px rgb(255 252 252 / 40%);
        /* margin: auto; */
    }
    .works .container .card:last-child {
        grid-column: unset;
        width: 310px;
    }
    .works .container .card-heading {
        padding: 15px;
    }
}
/* End Works */
/* Start Why Choose Us */
.why-choose-us {
    padding-top: 160px;
    padding-bottom: 100px;
    position: relative;
}
.why-choose-us .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 65px;
    max-width: 1065px;
    margin: 0 auto;
    padding: 20px;
}
.why-choose-us .container .card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(255 252 252 / 40%);
    background: #2d415a;
    transition: transform 0.3s ease;
}
.why-choose-us .container .card:hover {
    transform: translateY(-5px);
}
.why-choose-us .container .card .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 35px;
    color: white;
}
.why-choose-us .container .card .card-content {
    text-align: center;
}
.why-choose-us .container .card .card-heading {
    font-size: 18px;
    color: white;
    font-weight: bold;
}
.why-choose-us .container .card .card-content p {
    padding: 25px 35px;
    color: #ffffffb6;
}
@media (max-width: 992px) {
    .why-choose-us .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .why-choose-us .container .card:last-child {
        width: 343.56px;
        grid-column: span 2;
        justify-self: center;
    }
}
@media (max-width: 767px) {
    .why-choose-us .container {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .why-choose-us .container .card {
        width: 310px;
        justify-self: center;
    }
    .why-choose-us .container .card:last-child {
        grid-column: unset;
        width: 310px;
    }
    .why-choose-us .container .card-heading {
        padding: 15px;
    }
}
/* End Why Choose Us */
/* Start how it works */
.how-it-works {
    padding-top: 160px;
    padding-bottom: 100px;
    position: relative;
}
.how-it-works .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 72px;
    max-width: 750px;
    margin: auto;
    padding: 32px 16px;
}
.how-it-works .container .step {
    background-color: #2d415a;
    border-radius: 10px;
    padding: 32px;
    color: white;
    text-align: center;
    box-shadow: 0 0 15px rgb(255 252 252 / 40%);
    transition: transform 0.3s ease;
}
.how-it-works .container .step:hover {
    transform: translateY(-5px);
}
.how-it-works .container .step .step-content .number h2 {
    background-color: white;
    color: #172a67;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 16px;
    box-shadow: 0 0 15px rgb(255 252 252 / 40%);
}
.how-it-works .container .step h1 {
    font-size: 1.2rem;
    margin: 24px 0;
}
.how-it-works .container .step p {
    font-size: 0.95rem;
    color: #ecf0f1;
    margin-bottom: 24px;
}
@media (max-width: 768px) {
    .how-it-works .container {
        grid-template-columns: 1fr;
        padding: 16px;
        max-width: 310px;
    }
    .how-it-works .container .step {
        padding: 24px;
    }
}
/* End how it works */
/* Start FAQs */
.faqs {
    padding-top: 160px;
    padding-bottom: 20px;
    position: relative;
}
.faqs .container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 30px;
}
.faqs .container .faqs-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 65px;
}
.faqs .container .faqs-content .faqs-main-heading {
    margin-bottom: 35px;
}
.faqs .container .faqs-content .faqs-heading {
    background: linear-gradient(to right, #ffffff, #b18fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}
.faqs .container .faqs-content .faqs-p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 500px;
    color: #ddd;
    margin: 0 auto;
}
.faqs .container .questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}
.faqs .container .questions .question {
    background: #2d415a;
    border-radius: 14px;
    padding: 25px;
    box-shadow: 0 0 15px rgb(255 252 252 / 40%);
    width: 80%;
    margin: 0 auto;
    transition: transform 0.3s ease;
}
.faqs .container .questions .question:hover {
    transform: translateY(-5px);
}
.faqs .container .question h2 {
    padding: 30px 10px
}
.faqs .container .question .answer {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgb(14 13 13 / 81%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    color: white;
}
@media (min-width: 1025px) {
    .faqs .container {
        gap: 50px;
    }
    .faqs .container .faqs-content .faqs-heading {
        font-size: 50px;
        width: 400px;
    }
    .faqs .container .faqs-content .faqs-p {
        font-size: 16px;
        margin: 0;
    }
    .faqs .container .questions .question {
        width: 75%;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .faqs {
        padding-top: 120px;
        padding-bottom: 20px;
    }
    .faqs .container {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }
    .faqs .container .faqs-content {
        align-items: center;
    }
    .faqs .container .faqs-content .faqs-heading {
        font-size: 36px;
    }
    .faqs .container .faqs-content .faqs-p {
        font-size: 15px;
        max-width: 65%;
    }
    .faqs .container .questions .question {
        width: 85%;
    }
}
@media (max-width: 768px) {
    .faqs {
        padding-top: 100px;
        padding-bottom: 20px;
    }
    .faqs .container {
        flex-direction: column;
        gap: 60px;
        text-align: center;
    }
    .faqs .container .faqs-content {
        align-items: center;
        gap: 35px;
    }
    .faqs .container .faqs-content .faqs-heading {
        font-size: 26px;
    }
    .faqs .container .faqs-content .faqs-p {
        font-size: 14px;
        padding: 0 15px;
        max-width: 75%;
    }
    .faqs .container .questions {
        gap: 60px;
        align-items: center;
    }
    .faqs .container .questions .question {
        width: 100%;
        padding: 24px;
    }
    .faqs .container .question h2 {
        font-size: 16px;
        padding: 30px 0;
    }
    .faqs .container .question .answer {
        font-size: 14px;
        padding: 12px;
    }
}
/* End FAQs */
/* Start About */
.about {
    padding-top: 160px;
    padding-bottom: 100px;
    position: relative;
}
.about .container {
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem 1rem;
}
.about-content {
    background: #2d415a;
    border-radius: 14px;
    padding: 2rem;
    box-shadow: 0 0 15px rgb(255 252 252 / 40%);
    transition: transform 0.3s ease;
}
.about .about-content:hover {
    transform: translateY(-5px);
}
.about .about-text p {
    font-size: 15px;
    line-height: 1.8;
    color: #ffffff;
    text-align: justify;
    letter-spacing: 0.3px;
    text-align: center;
}
@media (max-width: 768px) {
    .container {
        padding: 2rem 1.5rem;
    }
    .about-content {
        padding: 1.5rem;
    }
    .about-text p {
        font-size: 1rem;
        line-height: 1.7;
    }
}
@media (max-width: 480px) {
    .about .container {
        padding: 2rem 2rem;
    }
    .about-content {
        padding: 1.2rem;
    }
    .about-text p {
        font-size: 0.95rem;
        line-height: 1.6;
    }
}
/* End About */
/* Start Footer */
.footer {
    padding: 20px 0 0 0;
    color: #888;
}
.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 14px;
    border-top: 1px solid transparent;
    border-image: linear-gradient(to right, transparent, #bacbf9, transparent) 1;
}
/* End Footer */
